<!-- THIS IS USING EJS MATE AND IT IS EXPORTING THIS CODE TO SPECIFIED PATH AND WHOLE EJS/HTML DOCUMENT IS COMPLETE PRESENT THERE -->
<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">Edit Trek</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/treks/<%=trek._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="trek[title]" value="<%=trek.title%>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="trek[location]" value="<%=trek.location%>" required>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input type="file" name="image" id="" multiple>
            </div> -->

            <div class="mb-3">
                <label class="form-label" for="price">Trek Price</label> 
                <div class="input-group">
                    <span class="input-group-text" id="price-label">@</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label"  name="trek[price]" value="<%=trek.price%>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="trek[description]" required><%=trek.description%></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
                <!-- <label class="input-group-text" for="image">Upload</label> -->
            </div>
            <div class="mb-3">
                <% trek.images.forEach(function(img, i) { %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                <% }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Trek</button>
            </div>
        </form>
    </div>
</div>